container_commands:
    01_wsgipass:
        command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
option_settings:
    'aws:elasticbeanstalk:application:environment':
        DJANGO_SETTINGS_MODULE: 'backend.settings'
    'aws:elasticbeanstalk:container:python':
        WSGIPath: 'backend/wsgi.py'
packages:
    yum:
        git: []
        postgresql93-devel: []
        libjpeg-turbo-devel: []
